<div class="container py-2 mx-3">
  <%= simple_form_for @journal_entry do |f| %>
    <h1><%= f.input :entry_text, label: "Edit" %></h1>
    <%#= link_to goal_journal_entries_path(@goal, @journal_entry), class: 'close-btn' do %>
      <!--<i class="fa-solid fa-arrow-left"></i>-->
    <%# end %>
    <%#= f.input :entry_date, label: "Date", as: :date, html5: true %>
    <%#= f.hidden_field :goal_id, value: @goal_id %>
    <%= f.button :submit, class: "my-btn mb-3 d-flex justify-content-center" %>
  <% end %>
</div>
