<h1>What's on your mind?</h1>

<%= simple_form_for [@task, @journal_entry] do |f| %>
  <%= f.input :entry_text %>
  <%= f.hidden_field :entry_date, value: Date.today %>
  <%= f.button :submit %>
<% end %>
