<div class="container mx-10">
  <h1>Edit Task</h1>
  <div class="form">
    <%= simple_form_for([@goal, @task]) do |f| %>
        <%= f.input :name, required: true %>
        <%= f.input :description, required: true, label: false%>
      <div class="actions" btn btn-primary>
        <%= f.submit 'Update Task' %>
      </div>
    <% end %>
  </div>
</div>
