<footer class=“website-footer”>
  <div class=“elementor-container elementor-column-gap-default”>
    <div class=“elementor-column elementor-col-100”>
      <div class=“footer-logo”>
        <%= image_tag(“Logo-Dark.png”, width: 80, height: 40, alt: “Logo Dark”) %>
      </div>
      <div class=“footer-social-icons”>
        <a href=“#” target=“_blank” class=“footer-social-icon”>
          <%= image_tag(“facebook-icon.png”, alt: “Facebook”) %>
        </a>

        <a href=“#” target=“_blank” class=“footer-social-icon”>
          <%= image_tag(“instagram-icon.png”, alt: “Instagram”) %>
        </a>
        <a href=“#” target=“_blank” class=“footer-social-icon”>
          <%= image_tag(“linkedin-icon.png”, alt: “LinkedIn”) %>
        </a>
      </div>
    </div>
  </div>
</footer>
