.homepage-background {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg);
  background-size: cover;
  background-position: center;
  height:100vh;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(banner.jpg);
  background-size: cover;
  background-position: center;
  height:100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
