.container{
  display: flex;
  flex-direction: column;
  background-color: #9a887393;
  box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 4.6px;
  border-radius: .75rem;
}

  h1{
    font-weight: 900;
    justify-content: center;

  }
  #container-elements{
  opacity: 100%;
  color: #D2D4C1;
}

.goal_generate_tasks{
  background-color:#37423D ;
  opacity: 100%;
  }
