.container{
  display: flex;
  flex-direction: column;
  background-color: #9a887393;
  box-shadow: rgba(0, 0, 0, 0.15) 2.95px 2.95px 4.6px;
  border-radius: .75rem;
}

  #container-elements{
  opacity: 100%;
  color: #D2D4C1;
}
