.form-inputs{
  color: #000000;
}

#goal_name, #goal_description, #goal_start_date, #goal_end_date, #goal_resources, #goal_time_available  {
  background-color: #37423D;
  color:  rgba(255, 255, 255, 0.5);
}
