.navbar-lewagon {
  justify-content: space-between;
  opacity: 100%;
  z-index: 2;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon.navbar-brand img {
  width: 40px;
}
