.progress {
  width: 100%;
  background-color: #50544B;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.progress-bar {
  height: 20px;
  background-color: beige;
}

.progress-group {
  display: flex;
  gap: 10px;
  a {
    color: #D2D4C1 !important;
  }
}

.tasks-space {
  display: flex;
  justify-content: space-between;
}

.percentage-show {
  color: #D2D4C1;
}
