.quote {
  max-width: 65vw;
  margin: auto 0 2rem 2rem;

  p{
    font-size: 2rem;
    font-family: $quotes-font;
    color: rgba(255, 255, 255, 0.702);
    margin-bottom: 0;
  }
}

.typed-cursor {
  display: none;
}
