.container {
  max-width: 597px;

  p{
    font-style:bold;
    font-size: 40px;
    color:#9A8873;
    justify-content: center;
    padding-top: 300px;
    padding-right: 150px;

  }
}



// .quote{
//   position: absolute;
//   padding: 10px;
//   display: grid;
//   gap: 10px;

//   p {
//     display: block;
//     font-family:Impact;
//     font-size: 10px;
//     justify-content: center;
//     text-align: center;

//   }

// }
