.quote {
  max-width: 40vw;
  margin: 0 auto;
  position: absolute;
  top: 40rem;
  left: 10rem;

  p{
    font-size: 2rem;
    font-family: $quotes-font;
    color: rgba(255, 255, 255, 0.702);
    margin-bottom: 0;
  }
}

.typed-cursor {
  display: none;
}
